
*{
    font-family: monospace;
}

body{
    background-color: #f0f8ff;
    font-size: 15px;
    margin: 0;
}

header{
    height: 100vh;
    color: white;
    background-color: #2196f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


h1{
    font-size: 50px;
    color: #2196f3;
}
header h1{
    text-align: center;
    color: white;
}

.button{
    margin: 15px;
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.button:hover{
    color: white;
    background-color: darkblue;
}
img{
    border-radius: 5px;
    height: 200px;
    width: auto;
}
main{
    padding: 20px;
}
section{
    margin-bottom: 20px;
    height: 100vh;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 7px;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
}
form div{
    margin: 5px 0;
}
.submit{
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: #2196f3 ;
}
.submit:hover{ 
    background-color: #1c81d3;
}
input{
    border-radius: 5px;
    border: 1px solid lightgray;
    height: 25px;
}
.FixedButton{
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    border-color: black;
    background-color: #2196f3;
}

footer{
    height: 124px;
    background-color: black;
    color: lightgray;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
